nav{
        background-image: url("header3.jpg");
        text-align: center;
       
        border-color: yellow;
        width: auto;
	
}
div{
    width: auto;
}
footer{
    background-color: yellow;
    text-align: center;
    width: auto;
    border: 50px;
    height: 80px;
    padding: 10px;
    
}
aside{
    
    width: 1420px;
    height: 700px;
    float:right;
    background-color: #6F4E37;
    text-align: center;
}
.clearfix{
    clear: both; 
}
#caja1{
    background-color: #6F4E37;
    width: auto;
    float:none;
    background-image: url("fondonegro.jpg");
}
#caja2{
    background-color: #6F4E37;
    float:left;
    color: white;
    width: 420px;
    height: 700px;
