body{
    background-color: orange;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}
h1{
    background-color: orange;
    text-align: center;
    color: white;
    border-style: groove;
    border-color: purple;
    margin:auto;

}
nav{
        text-align: center;
        border-style: groove;
        border-color: purple;
        width: auto;
}
div{
    width: auto;
}
footer{
    background-color: yellow;
    text-align: center;
    width: auto;
    border: 50px;
    border-color: yellow;
    padding: 10px;
	height: 80px;
    
}
aside{
    height: auto;
   
    
    
}
.clearfix{
    clear: both; 
}
#caja1{
    background-color: yellow;
    width: auto;
    border:dashed;
    float:none;
}	
#caja2{
    background-color: chocolate;
    color: black;
    float: right;
    width: 1400px;
    height: 450px;
    border-color: purple;
    border-style:groove;
}
#caja3{
    background-color: chocolate;
    float: left;
    width: 400px;
    height: 450px;
    border-color: purple;
    border-style:groove;
    color: black;
    font-size: 30px;
    opacity: 0.6;
}
#caja4{
    background-color: gold;
    float:left;
    width: 1898px;
    border-color: purple;
    border-style: groove;
    opacity: 0.6;
}
button{
  background-color: pink;
  border: double;
  color: purple;
  padding: 15px 32px;
  text-align: center;
  text-decoration:blink;
  display: inline-block;
  font-size: 16px;
}
.menu{
	list-style: none;
	padding: 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: black;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background-color: purple;
}
