body{
    background-color: orange;
    background-attachment: fixed;
    background-image: url("http://www.tvn.cl/incoming/arturojpg-2145956/ALTERNATES/w1024h768/arturo.jpg"); 
    background-size: 100% 100%;
}
h1{
    text-align: center;
    color: black;
    border-style: groove;
    border-color: black;
    background-color: orange;
}   
nav{
        background-color: yellow;
        text-align: center;
        color: black;
        border-style: groove;
        border-color: black;
        width: auto;
}
div{
    width: auto;
}
footer{
    background-color: yellow;
    text-align: center;
    width: auto;
    border: 50px;
    border-style:double;
    border-color: black;
    padding: 10px;
}
aside{
    height: auto;
   
    
    
}
.clearfix{
    clear: both; 
}
#caja1{
    
    background-color: orange;
    float:none;
    width: auto;
    border:dashed;
    float:none;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0a/c5/a7/ef/beautiful-produce.jpg");
}
#caja2{
    background-color: orange;
    float:right;
    width: 400px;
    height: 400px;
    border-color: black;
    border-style:groove;
    color: lightgreen;
    background-image: url("http://4.bp.blogspot.com/-Syh05vwiDt4/Uc4yVnzerWI/AAAAAAAADlU/KXuigEpcG0M/s1600/Vega.JPG");
    background-size: 100% 100%;
    opacity: 0.8;
}
#caja5{
    background-color: orange;
    float:right;
    width: 400px;
    height: 400px;
    border-color: black;
    border-style:groove;
    color: ;
    background-image: url("https://www.latercera.com/resizer/8ZNgODGk41on0yrbnQCaomk-74o=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/5SX5XEZZRFEGLFYBYAGKVZXN54.jpg");
    background-size: 100% 100%;
    opacity: 0.8;
}
#caja6{
    background-color: orange;
    float:right;
    width: 400px;
    height: 400px;
    border-color: black;
    border-style:groove;
    color: lightgreen;
    background-image: url("https://live.staticflickr.com/1320/1206409355_76cc0b0840_b.jpg");
    background-size: 100% 100%;
    opacity: 0.8;
}
#caja3{
    background-color: chocolate;
    opacity: 0.6;
    float:left;
    width: 500px;
    height: 800px;
    border-color: black;
    border-style:groove;
    background-size: 100% 100%;
    color: Black;
    font-size: 30px;
}
#caja4{
    background-color: yellow;
    float:right;
    width: 1895px;
    border-color: black;
    border-style:groove;
}
button{
  background-color: yellow;
  border:double;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration:blink;
  display: inline-block;
  font-size: 13px;
}
.menu{
	list-style: none;
	padding: 0;
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: black;
	padding: 20px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background-color: orange;
}
